{% extends 'base.html' -%}

{% block content -%}
<div class='main-section'>
	<div class='container'>
		<p>Прогноз погоды на сутки</p>
		<div class='row'>
			{% for elem in forecast_info -%}
				<div class='col-lg-3 col-sm-6'>
					<div class='card custom-card'>
						<div class='card-body custom-card-body'>
							<h5 class='card-title'>{{forecast_info[elem]['time']}}</h5>
							<p class='card-text'>Статус: {{forecast_info[elem]['status']}}</p>
							<p class='card-text'>Скорость ветра: {{forecast_info[elem]['speed_wind']}}</p>
							<p class='card-text'>Влажность: {{forecast_info[elem]['humidity']}}</p>
							<p class='card-text'>Облачность: {{forecast_info[elem]['cloud']}}</p>
							<p class='card-text'>Температура в цельсиях: {{forecast_info[elem]['temperature']}}</p>
							<p class='card-text'>Температура по ощущениям: {{forecast_info[elem]['temperature_feels_like']}}</p>
						</div>
					</div>
				</div>
			{% endfor -%}
		</div>
	</div>
</div>
{% endblock%}