{% extends 'base.html' -%}

{% block content -%}
<div class='main-section'>
	<div class='container'>
		<p>Прогноз погоды на сутки</p>
		<div class='row'>
			{% for elem in forecast_info -%}
				<div class='col-lg-3 col-sm-6'>
					<div class='card custom-card'>
						<div class='card-body'>
							<h5 class='card-title'>{{forecast_info[elem]['time']}}</h5>
							<table class="table">
								<tr>
									<td>Статус:</td>
									<td>{{forecast_info[elem]['status']}}</td>
								</tr>
								<tr>
									<td>Скорость ветра:</td>
									<td>{{forecast_info[elem]['speed_wind']}}</td>
								</tr>
								<tr>
									<td>Влажность:</td>
									<td>{{forecast_info[elem]['humidity']}}</td>
								</tr>
								<tr>
									<td>Облачность:</td>
									<td>{{forecast_info[elem]['cloud']}}</td>
								</tr>
								<tr>
									<td>Температура в цельсиях:</td>
									<td>{{forecast_info[elem]['temperature']}}</td>
								</tr>
								<tr>
									<td>Температура по ощущениям:</td>
									<td>{{forecast_info[elem]['temperature_feels_like']}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			{% endfor -%}
		</div>
	</div>
</div>
{% endblock%}