{% extends 'base.html' -%}

{% block content -%}
<div class='main-section'>
	<div class='container'>
		{% if current_user.is_authenticated -%}
		<div class='row'>
			{% if all_cities -%}
				{% for elem in all_cities -%}
					<div class='col-lg-3 col-sm-6'>
						<div class='card custom-card'>
							<div class='card-body custom-card-body'>
								<h5 class='card-title'>{{elem.name}}</h5>
								<p class='card-text'>Статус: {{elem.status}}</p>
								<p class='card-text'>Скорость ветра: {{elem.speed_wind}}</p>
								<p class='card-text'>Влажность: {{elem.humidity}}</p>
								<p class='card-text'>Облачность: {{elem.cloud}}</p>
								<p class='card-text'>Температура в цельсиях: {{elem.temperature}}</p>
								<p class='card-text'>Температура по ощущениям: {{elem.temperature_feels_like}}</p>
								<form action='main-page' method='post' class='d-flex justify-content-center'>
									<input type="hidden" name="city_name" for='city_name' value="{{elem.name}}" />
									<button class="btn btn-danger" type='submit' id='city_name'>Удалить</button><br><br>
								</form>
								<a href='forecast?city-name={{elem.name}}'>Прогноз погоды</a>
							</div>
						</div>
					</div>
				{% endfor -%}
		</div>
			{% else -%}
				<p>Нет избранных городов, добавьте их через поиск</p>
			{% endif -%}
		{% else -%}
			<p>Для добавление городов в избранное на главный экран, пожалуйста, авторизуйтесь</p>
			<p>Без авторизации вы можете смотреть текущую погоду городов через поиск</p>
		{% endif -%}
	</div>
</div>
{% endblock%}
