{% extends 'base.html' -%}

{% block header -%}
{% endblock%}

{% block content -%}
<div class='jumbotron d-flex justify-content-center align-items-center min-vw-100 min-vh-100'>
			<form  action='/registration' role='form' class='form-horizontal' method='post'>
				
				<div class ='form-group'>
					<label class='control-label' for='name'>Имя</label>
					<input name='name' id='name' class='form-control' placeholder='Введите email'/>
					<p class='help-block'><small>Введите имя пользователя</small></p>
				</div>
				
				<div class ='form-group'>
					<label class='control-label' for='email'>Email</label>
					<input name='email' type='email' id='email' class='form-control' placeholder='Введите email'/>
					<p class='help-block'><small>Введите свой email</small></p>
				</div>
			
				<div class ='form-group'>
					<label class='control-label' for='password'>Пароль</label>
					<input name='psw' type="password" id='password' class='form-control' placeholder='Введите пароль'/>
					<p class='help-block'><small>Введите пароль</small></p>
				</div>
				
				<div class ='form-group'>
					<label class='control-label' for='password2'>Пароль</label>
					<input type="password" name='psw2' id='password2' class='form-control' placeholder='Введите пароль'/>
					<p class='help-block'><small>Повторите пароль</small></p>
				</div>
			
				<div class ='form-group'>
					<button type="submit" class='btn btn-success'>Зарегистироваться</button>
				</div>
			
			</form>
</div>
{% endblock%}